<!DOCTYPE HTML>
<html lang="cs" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<head>
  <title>Aktivity</title>
</head>
<body>
  <div layout:fragment="header">Aktivity</div>
  <div layout:fragment="content" class="flex flex-col">
    <div class="pb-4 ml-auto">
      <a th:href="@{/admin/add-activity}" class="font-medium flex items-center gap-x-1 bg-indigo-500 hover:bg-indigo-400 transition-colors duration-150 rounded-md font-semibold px-4 py-2 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
          </svg>
          Přidat aktivitu
      </a>
    </div>
    <div class="overflow-x-auto py-10">
      <div class="py-2 align-middle inline-block min-w-full">
        <div class="shadow-lg shadow-gray-400 overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-800 uppercase tracking-wider">
                Název
              </th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-800 uppercase tracking-wider">
                Akce
              </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr th:each="activity: ${activities}">
              <td class="px-6 py-4 whitespace-nowrap text-center" th:text="${activity.type}"></td>
              <td class="px-6 py-4 whitespace-nowrap font-semibold text-center">
                <button class="ml-2">
                  <span class="ml-2">Detail</span>
                </button>
                <button class="ml-2">Smazat</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>
</html>