<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- this is where we refer the css file from src/main/resources/static/main.css -->
  <link th:href="@{/app.css}" rel="stylesheet" />
</head>
<body>
  <form th:action="@{/home/admin/save-activity}" th:object="${activity}" method="POST">
    <input type="text" id="type" name="type" class="form-control col-4 mb-4" placeholder="Enter Name" />
    <button type="submit">Uložit</button>
  </form>
</body>
</html>