<!DOCTYPE HTML>
<html lang="cs" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<head>
    <title>LetMeIn - Vytvořit rezervaci</title>
</head>
<body>
<div layout:fragment="header">
    Vytvořit rezervaci
</div>
<div layout:fragment="content">
    <div th:if="${step == 1}" class="flex flex-row justify-start pb-6">
        <a th:href="@{/user/reservations}" class="inline-flex items-center gap-x-2 px-3 py-1 rounded-md border border-slate-400 bg-white text-slate-600 hover:bg-slate-100">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M15 10a.75.75 0 01-.75.75H7.612l2.158 1.96a.75.75 0 11-1.04 1.08l-3.5-3.25a.75.75 0 010-1.08l3.5-3.25a.75.75 0 111.04 1.08L7.612 9.25h6.638A.75.75 0 0115 10z" clip-rule="evenodd" />
            </svg>
            <span class="flex-1">Zpět</span>
        </a>
    </div>

    <div class="relative mb-3 flex flex-row items-center justify-between">
        <div class="absolute top-1/2 w-full h-1 bg-indigo-500 -z-10 pointer-events-none transform -translate-y-1/2">&nbsp;</div>
        <div class="flex flex-row p-4 rounded-md" th:classappend="${step == 1} ? 'bg-indigo-500 text-white' : 'bg-slate-100'">
            1. Výběr aktivity
        </div>
        <div class="flex flex-row p-4 rounded-md" th:classappend="${step == 2} ? 'bg-indigo-500 text-white' : 'bg-slate-100'">
            2. Výběr místa
        </div>
        <div class="flex flex-row p-4 rounded-md" th:classappend="${step == 3} ? 'bg-indigo-500 text-white' : 'bg-slate-100'">
            3. Výběr data
        </div>
        <div class="flex flex-row p-4 rounded-md" th:classappend="${step == 4} ? 'bg-indigo-500 text-white' : 'bg-slate-100'">
            4. Výběr termínu
        </div>
        <div class="flex flex-row p-4 rounded-md" th:classappend="${step == 5} ? 'bg-indigo-500 text-white' : 'bg-slate-100'">
            5. Potvrzení
        </div>
    </div>
    <div class="mt-4 flex flex-col gap-y-16">
        <div class="p-8 bg-slate-100 rounded-xl">
            <div th:switch="${step}">
                <h2 th:case="1" class="text-3xl font-medium">Krok 1: Výběr aktivity</h2>
                <h2 th:case="2" class="text-3xl font-medium">Krok 2: Výběr místa</h2>
                <h2 th:case="3" class="text-3xl font-medium">Krok 3: Výběr data</h2>
                <h2 th:case="4" class="text-3xl font-medium">Krok 4: Výběr termínu</h2>
                <h2 th:case="5" class="text-3xl font-medium">Krok 5: Souhrn a potvrzení</h2>
            </div>
            <form th:action="@{/user/reservations/create}" th:object="${reservation}" method="post" class="mt-4 flex flex-col gap-y-4">
                <div th:if="${step == 1}">
                    <label for="activity" class="font-medium">Aktivita</label>
                    <!--<input th:if="${!reservation.isStep(1)}" th:value="${reservation.getActivity().getType()}" type="text" readonly class="w-full rounded border border-slate-400 px-4 py-2 placeholder:text-slate-400 read-only:bg-slate-100 read-only:text-slate-600 read-only:opacity-50">-->
                    <select id="activity" name="activity" th:field="*{activity}" class="w-full rounded border px-4 py-2 placeholder:text-slate-400 focus:outline-indigo-500" th:classappend="${param.error} ? 'border-red-400' : 'border-slate-400'">
                        <option th:each="activity: ${activities}" th:value="${activity.getId()}" th:text="${activity.getType()}">Aktivita</option>
                    </select>
                </div>
                <div th:if="${step == 2}">
                    <label for="place" class="font-medium mb-4">Místo</label>
                    <select id="place" name="place" th:field="*{place}" class="w-full rounded border px-4 py-2 placeholder:text-slate-400 focus:outline-indigo-500" th:classappend="${param.error} ? 'border-red-400' : 'border-slate-400'">
                        <option th:each="place: ${places}" th:value="${place.getId()}" th:text="${place.getName()}">Místo</option>
                    </select>
                </div>
                <div th:if="${step == 3}">
                    <label for="date" class="font-medium mb-4">Datum</label>
                    <input type="date" id="date" th:field="*{date}" class="w-full rounded border px-4 py-2 placeholder:text-slate-400 focus:outline-indigo-500" th:classappend="${param.error} ? 'border-red-400' : 'border-slate-400'">
                </div>
                <div th:if="${step == 4}">
                    <label class="font-medium mb-4">Zvolte termín</label>

                    <ul>
                        <li th:each="slot: ${slots}">
                            <input type="radio" th:field="*{start}" th:value="${slot.getFrom()}">
                            <label th:for="${#ids.prev('start')}" th:text="${slot.getFrom() + '-' + slot.getTo() + ': ' + (slot.getMaxCapacity() - slot.getAvailableCapacity()) + '/' + slot.getMaxCapacity()}"></label>
                        </li>
                    </ul>

                    <div class="flex-1 flex gap-x-2 items-center mt-2">
                        <label for="requiredCapacity">Počet osob:</label>
                        <input type="number" min="1" th:field="*{requiredCapacity}" id="requiredCapacity" value="1" class="rounded border border-slate-400 px-4 py-2 placeholder:text-slate-400 focus:outline-indigo-500">
                    </div>
                </div>

                <div th:if="${step == 5}">
                    <div class="flex flex-row gap-x-2">
                        <div class="font-medium">Aktivita:</div>
                        <div th:text="${selectedActivity.getType()}"></div>
                    </div>
                    <div class="flex flex-row gap-x-2">
                        <div class="font-medium">Místo:</div>
                        <div th:text="${selectedPlace.getName()}"></div>
                    </div>
                    <div class="flex flex-row gap-x-2">
                        <div class="font-medium">Datum:</div>
                        <div th:text="${selectedSlot.toLocalDate()}"></div>
                    </div>
                    <div class="flex flex-row gap-x-2">
                        <div class="font-medium">Počet osob:</div>
                        <div th:text="${selectedCapacity}"></div>
                    </div>
                    <div class="flex flex-row gap-x-2">
                        <div class="font-medium">Vybraný termín:</div>
                        <div th:text="${selectedSlot.toLocalTime() + '-' + selectedSlot.plusHours(selectedPlace.getTimeWindow()).toLocalTime()}"></div>
                    </div>

                    <div class="mt-6 flex gap-x-2">
                        <input type="checkbox" th:field="*{confirmation}" />
                        <label th:for="${#ids.prev('confirmation')}">Souhlasím s obchodními podmínkami a závazně potvrzuji rezervaci.</label>
                    </div>
                </div>

                <div class="flex flex-row gap-x-2 mt-4">
                    <button th:if="${step > 1}"
                            type="submit" name="action" value="back"
                            class="font-medium text-indigo-500 inline-flex items-center gap-x-1 bg-white hover:bg-slate-400 hover:text-gray-900 transition-colors duration-150 rounded-md font-semibold px-6 py-3"
                    >
                        Zpět
                    </button>
                    <button
                            type="submit"
                            name="action"
                            value="next"
                            class="flex-1 font-medium inline-flex items-center gap-x-1 bg-indigo-500 hover:bg-indigo-400 transition-colors duration-150 rounded-md font-semibold px-6 py-3 text-white"
                            th:text="${step != 5} ? 'Další krok' : 'Potvrdit a rezervovat'"
                    >
                        Další krok
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>